@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



html, body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    color: #fff;
    line-height: 1.7;
}

.slider-container{
    height: 100vh;
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
}

.slide{
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    user-select: none;
}
.slide img{
    max-width: 300px;
    max-height: 250px;
    padding-bottom: 1.5rem;
    transition: transform 0.3s ease-in-out;

}

.pad{
    padding-bottom: 1rem;
}

.five{
    transform: scale(1.2);
}

.slide h2{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.slide h4{
    font-size: 1.3rem;
}

.btn{
    background-color: #444;
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
}

.grabbing{
    cursor: grabbing;
}

.grabbing .slide img{
    transform: scale(0.9);
}